/*

/* Theme All Transitions
------------------------------- */
a,
.navbar .dropdown .dropdown-toggle::after,
.theme-btn,
button,
.theme-btn-back,
.page-link{
    transition: all 0.6s ease-in-out;
}

@media (max-width: 991.98px) {
  #navbarContent {
    padding: 0.5rem 1rem; /* Tight padding */
    width: max-content; /* Shrink to fit content */
    margin-left: -1rem; /* Align flush left */
  }
  
  #navbarContent .navbar-nav {
    gap: 0.5rem; /* Tighter spacing between items */
  }
  
  #navbarContent .h2 {
    font-size: 1.1rem !important; /* Smaller text size */
    margin-bottom: 0 !important; /* Remove extra space */
  }
}

ul li {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul {
    margin: 0;
    padding: 0;
}


a,
a>* {
    outline: none;
    cursor: pointer;
    text-decoration: none;
}

a {
    color: var(--body-font-color);
}

a:hover {
    color: var(--primary-color) !important;
    text-decoration: none;
}

img::selection {
    background: transparent;
}

h1,
h2,
h3,
h5,
h6 {
    font-weight: 500;
    margin: 0;
    color: var(--heading-color);
}

p {
    margin-bottom: 0;
    font-size: 14px;
    font-weight: 400;
    color: var(--body-font-color);
} 

:root {

    --bg-white: #FAFAFA;

    --heading-color: #160E4D;
    --body-font-color: #737C91;

    --border-color: #EAEAEA;
    --border-color-2: #A5ABBA;
    --primary-color: #0063E6;

    --secondary-color: #582bc9;

    --body-font-family: 'Poppins', sans-serif;
}

.color-heading {
    color: var(--heading-color);
}


.secondary-color {
    color: var(--secondary-color);
}

.theme-border {
    border: 1px solid var(--border-color);
}

.radius-20 {
    border-radius: 20px;
}

.font-medium {
    font-weight: 500;
}

.font-24 {
    font-size: 24px;
    line-height: 31px;
}

.font-20 {
    font-size: 20px;
    line-height: 31px;
}

.font-16 {
    font-size: 16px;
}

.font-15 {
    font-size: 15px;
    line-height: 23px;
}

.font-14 {
    font-size: 14px;
}

.font-13 {
    font-size: 13px;
    line-height: 18px;
}


/*--------------------------------
   2.4 Template Default CSS
-----------------------------------*/
section {
    position: relative;
    z-index: 9;
}

.fit-image {
    width: 100%;
    object-fit: cover;
    -o-object-fit: cover;
}


.avatar-xl {
    height: 5.5rem;
    width: 5.5rem;
}


/*-------------------------------------------
    4. Preloader Area Start
-------------------------------------------*/
#preloader {
    background-color: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 9999999999999999;
}

#preloaderInner {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

/*-------------------------------------------
    4. Preloader Area End
-------------------------------------------*/

#page-topbar {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 999;
    background-color: var(--bg-white);
}

.navbar-header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    height: 80px;
    padding: 0 calc(24px / 2) 0 0;

    padding-right: 40px;
}






.page-content-wrapper {
    min-height: calc(100vh - 100px);
}

.header-item {
    color: var(--heading-color);
    border: 0;
    border-radius: 0;
    padding: .47rem .55rem;
    position: relative;
    display: inline-flex;
    align-items: center;
}

.header-profile-user {
    background-color: #f1f5f7;
}



.avatar-xs {
    height: 1.5rem;
    width: 1.5rem;
}

.avatar-title {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background-color: var(--primary-color);
    color: var(--bg-white);
    border: 1px solid var(--bg-white);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-weight: 500;
    height: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
}

/* --- Page Title Bar CSS Start --- */
.page-title-box {
    padding-bottom: 20px;
}

.page-title-box .breadcrumb {
    background-color: transparent;
    padding: 0
}

.breadcrumb-item+.breadcrumb-item::before {
    float: left;
    padding-right: .5rem;
    color: #74788d;
    content: var(--bs-breadcrumb-divider, "\f0142");
}

.breadcrumb-item+.breadcrumb-item::before {
    font-family: "Material Design Icons";
}

.breadcrumb-item.active {
    color: var(--heading-color);
}

/* --- Page Title Bar CSS End --- */

/* --- LeftSide Menu CSS Start --- */
.metismenu {
    margin: 0
}

.metismenu li {
    display: block;
    width: 100%
}

.metismenu .mm-collapse {
    display: none
}

.metismenu .mm-collapse:not(.mm-show) {
    display: none
}

.metismenu .mm-collapse.mm-show {
    display: block
}

.metismenu .mm-collapsing {
    position: relative;
    height: 0;
    overflow: hidden;
    -webkit-transition-timing-function: ease;
    transition-timing-function: ease;
    -webkit-transition-duration: .35s;
    transition-duration: .35s;
    -webkit-transition-property: height, visibility;
    transition-property: height, visibility
}

.vertical-menu {
    width: 240px;
    z-index: 1001;
    background: var(--bg-white);
    bottom: 0;
    margin-top: 0;
    position: fixed;
    top: 100px;
}


.main-content {
    margin-left: 240px;
    overflow: hidden;
    padding: 16 40px 26px 40px;
    margin-top: 70px
}

/* ************************************************/
#sidebar-menu {
    padding: 10px 0 30px 0
}

#sidebar-menu .mm-active>.has-arrow:after {
    -webkit-transform: rotate(-180deg);
    transform: rotate(-180deg)
}

#sidebar-menu .has-arrow:after {
    content: "\f0140";
    font-family: "Material Design Icons";
    display: block;
    float: right;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s;
    font-size: 1rem
}

#sidebar-menu ul li a {
    display: block;
    padding: .750rem 1.5rem;
    color: var(--body-font-color);
    position: relative;
    font-size: 14px;
    -webkit-transition: all .4s;
    transition: all .4s;
    font-weight: 500
}

#sidebar-menu ul li a i {
    display: inline-flex;
    min-width: 1.9rem;
    height: 1.9rem;
    font-size: 1.1rem;
    line-height: 1.40625rem;
    vertical-align: middle;
    -webkit-transition: all .4s;
    transition: all .4s;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border-radius: 4px;
}

#sidebar-menu ul li a:hover {
    color: var(--primary-color) !important
}

#sidebar-menu ul li a:hover i {
    color: var(--primary-color) !important
}

#sidebar-menu ul li .badge {
    margin-top: 4px;
    font-size: 13px;
}

#sidebar-menu ul li ul.sub-menu {
    padding: 0
}

#sidebar-menu ul li ul.sub-menu li a {
    padding: .4rem 1.5rem .4rem 3.2rem;
    font-size: 13px;
}

#sidebar-menu ul li ul.sub-menu li a::before {
    content: "";
    height: 6px;
    width: 6px;
    background-color: var(--body-font-color);
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}

#sidebar-menu ul li ul.sub-menu li:hover a::before {
    background-color: var(--primary-color);
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu {
    padding: 0
}

#sidebar-menu ul li ul.sub-menu li ul.sub-menu li a {
    padding: .4rem 1.5rem .4rem 4.2rem;
    font-size: 13.5px
}

.mm-active {
    color: var(--bg-white) !important
}

.mm-active>a {
    color: var(--heading-color) !important
}

.mm-active>a i {
    color: var(--heading-color) !important
}

.mm-active>i {
    color: var(--heading-color) !important
}

.mm-active .active {
    color: var(--primary-color) !important
}

.mm-active .active i {
    color: var(--primary-color) !important;
    background-color: rgba(231, 240, 255, 0.98);
}

.mm-active .active::before {
    background-color: var(--primary-color) !important;
} 

@media (max-width:992px) {
    .vertical-menu {
        display: none
    }

    .main-content {
        margin-left: 0 !important
    }

    body.sidebar-enable .vertical-menu {
        display: block
    }
}


.vertical-collpsed .main-content {
    margin-left: 70px
}


.vertical-collpsed .vertical-menu {
    position: absolute;
    width: 80px !important;
    z-index: 5
}

.vertical-collpsed .vertical-menu .simplebar-content-wrapper,
.vertical-collpsed .vertical-menu .simplebar-mask {
    overflow: visible !important
}

.vertical-collpsed .vertical-menu .simplebar-scrollbar {
    display: none !important
}

.vertical-collpsed .vertical-menu .simplebar-offset {
    bottom: 0 !important
}

.vertical-collpsed .vertical-menu #sidebar-menu .badge,
.vertical-collpsed .vertical-menu #sidebar-menu .collapse.in,
.vertical-collpsed .vertical-menu #sidebar-menu .menu-title {
    display: none !important
}

.vertical-collpsed .vertical-menu #sidebar-menu .nav.collapse {
    height: inherit !important
}

.vertical-collpsed .vertical-menu #sidebar-menu .has-arrow:after {
    display: none
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li {
    position: relative;
    white-space: nowrap
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a {
    min-height: 55px;
    -webkit-transition: none;
    transition: none;
    padding: .750rem 1.5rem;
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:active,
.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:focus,
.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a:hover {
    color: var(--primary-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a i {
    font-size: 1.1rem;
    line-height: 1.40625rem;
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li>a span {
    display: none;
    padding-left: 25px
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a {
    position: relative;
    width: calc(190px + 70px);
    color: var(--body-font-color);
    background-color: var(--bg-light);
    -webkit-transition: none;
    transition: none
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a i {
    color: var(--primary-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>a span {
    display: inline
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul {
    display: block;
    left: 70px;
    position: absolute;
    width: 190px;
    height: auto !important;
    -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1);
    box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul ul {
    -webkit-box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1);
    box-shadow: 3px 5px 12px -4px rgba(18, 19, 21, .1)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 8px 20px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: var(--body-font-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a {
    -webkit-box-shadow: none;
    box-shadow: none;
    padding: 0 20px 11px;
    position: relative;
    width: 190px;
    z-index: 6;
    color: var(--body-font-color);
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul>li:hover>ul a:hover {
    color: var(--primary-color)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul {
    padding: 0px 0 11px;
    z-index: 9999;
    display: none;
    background-color: var(--bg-light);
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li:hover>ul {
    display: block;
    left: 190px;
    height: auto !important;
    margin-top: -36px;
    position: absolute;
    width: 190px
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li>a span.pull-right {
    position: absolute;
    right: 20px;
    top: 12px;
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg)
}

.vertical-collpsed .vertical-menu #sidebar-menu>ul ul li.active a {
    color: #f8f9fa
}

.dashboard-feature-item-icon-wrap {
    box-shadow: 0px 4px 12px rgba(247, 247, 247, 0.6);
    width: 35px;
    height: 35px;
}

.sign-up-page {
    overflow-x: hidden;
}

.sign-up-left-content {
    background-color: var(--primary-color);
    padding: 30px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.sign-up-left-content::before {
    content: "";
    position: absolute;
    width: 709px;
    height: 1068px;
    right: 86px;
    top: 65px;
    background: linear-gradient(166.46deg, rgba(255, 255, 255, 0.05) 15.3%, rgba(255, 255, 255, 0) 84.41%);
    transform: rotate(61deg);
}

.sign-up-left-content,
.sign-up-right-content {
    min-height: 100vh;
    height: 100%;
}

.sign-up-right-content {
    align-items: center;
    display: flex;
}

.sign-up-right-content form {
    width: 479px;
    margin: 0 auto;
}

.sign-up-left-content p {
    color: var(--border-color);
}

.sign-up-right-content .pass-icon {
    font-size: 13px;
    float: right;
    top: 18px;
    position: absolute;
    right: 10px;
}



.account-settings-rightside {
    min-height: 100vh;
    height: 100%;
}
/*******************************************/



.profile-user .default-profile-photo-edit{
    position: absolute;
    right: 0;
    left: auto;
    bottom: -5px;
    cursor: pointer
}

.profile-user .default-user-profile-image{
    -o-object-fit: cover;
    object-fit: cover
}

.profile-user .default-profile-img-file-input{
    display: none
}
hr {
    border: 1.6px solid rgba(0, 0, 0, 0.1);
}


